---
import { SITE } from '../lib/site';
---
{SITE.adsenseClient ? (
  <div class="ad-slot">
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client={SITE.adsenseClient}
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
) : null}
